body{
  background-color: rgb(75, 120, 218);
}

nav{
  background-color: #b8d8f8;
}

nav li{
  display: inline;
  list-style-type: none;
}

li a{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin: 20px;
}

li a:hover{
  background-color: rgb(74, 145, 226);
  color: white;
}


h1{
  font-family: serif;  
  text-align: center;
  font-size: 2em;
  color: azure;
}

.fish{
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.para{
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: white;

}

footer {
  background-color: #1672ce;
  height: 90%;
  padding: 10px;
  margin: 20px;
  text-align: center;
  color: rgb(6, 7, 6);
}

footer li{
  list-style-type: none;
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



